body {
    height: 100vh;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
}

.grupo1 {
    height: 95%;
    background: #eb0033; 
}

.head {
    display: flex;
    justify-content: center;
    margin: 0 45px;
}

.logo {
    max-width: 80px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    margin-right: 200px;
}

.head ul {
    display: flex;
    align-items: center;
}

.head ul li {
    list-style: none;
    margin: 0 25px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    position: relative;
    overflow: hidden;
}

.head ul li::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 100%; 
    width: 100%; 
    height: 2px; 
    background-color: #fff;
}

.head ul li:hover::after {
    left: 0;
}

.head ul li a {
    text-decoration: none;
    color: #fff;
}

.head ul li:last-child {
    background: #fff;
    padding: 15px 25px; 
    border-radius: 5px;
    width: 125px;
    border: none;
    font-weight: 500;
    color: #eb0033;
}

.head ul li:last-child:hover {
    background: #ffe7e8;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 85%;
    text-align: left;

}

.esquerda{
    padding: 50px;
}

.esquerda h1{
    color: #fff;
    font-size: 50px;
    max-width: 600px;
    width: 100%;
}

.esquerda p{
    color: #fff;
    font-size: 19.5px;
    line-height: 1.75rem;
    max-width: 600px;
    width: 100%;
}

.esquerda h2{
    background: #fff;
    padding: 15px 25px;
    margin-top: 120px; 
    border-radius: 5px;
    border: none;
    font-weight: 500;
    color: #eb0033;
    font-size: 18px;
    max-width: 220px;
    width: 100%;
}

.esquerda h2:hover{
    background: #fdd7d9;
}

.esquerda2{
    margin-left: 250px;
    margin-top: 50px;
}
.direita{
    display: flex;
}



.grupo2 {
    height: 55%;
    background: #fff;
    display: flex;
}
.esquerda2 h1{
    color: #eb0033;
    left: 170px;
    font-size: 35px;
    width: 600px;
    top: 50px;
}
.esquerda2 p{
    max-width: 600px;
    width: 100%;
    margin-right: 50px;
    font-size: 19.5px;
    line-height: 1.75rem;
}
.esquerda2 h2{
    background: #eb0033;
    padding: 15px 25px; 
    border-radius: 5px;
    border: none;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    left: 146px;
    top: 1015px;
    max-width: 280px;
    width: 100%;
}
.esquerda2 h2:hover{
    background: #db5d6a;
}
.direita2 img{
    margin-top: 50px;
    border-radius: 20px;
}
.group3 {
    height: 75%;
    background: #fff;
    display: flex;
    margin-top: 40px;
    margin-left: 250px;
}

.direita3{
    margin-left: 100px;
}

.esquerda3 img{
    margin-top: 50px;
    border-radius: 20px;
}
.direita3 h1{
    color: #eb0033;
    font-size: 35px;
    width: 600px; 
    
}

.botao{
    text-decoration: none;
    color: white;
}

.direita3 p{
    max-width: 600px;
    width: 100%;
    font-size: 19.5px;
    line-height: 1.75rem;
}
.direita3 h2{
    background: #eb0033;
    padding: 15px 25px; 
    border-radius: 5px;
    border: none;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    left: 700px;
    top: 1500px;
    max-width: 320px;
    width: 100%;
}

.direita3 h2:hover{
    background: #db5d6a;
}

.group4 {
    height: 123%;
    background: #f5f3f4;
}

.text_news{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_news p{
    margin-top: 120px;
}

.text_news h1{
    top: 35px;
}

.news{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.news1{
    text-align: center;
    margin-top: 50px;
    width: 350px; 
    height: 350px; 
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000033;
}
.news1 h3{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    top: 135px;
    left: 30px;
}
.news1 p{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    left: 30px;
    top: 140px;
    font-size: 13.5px;
}
.news1 h5{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    left: 30px;
    top: 155px;
    font-size: 12.5px;
    color: #b9b9b9;
    border-top: gray;
}
.news2{
    text-align: center;
    margin-top: 50px;
    top: 65px;
    width: 350px; 
    height: 350px; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000033;
}
.news2 h3{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    top: 135px;
    left: 30px;
}
.news2 p{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    left: 30px;
    top: 140px;
    font-size: 13.5px;
}
.news2 h5{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    left: 30px;
    top: 140px;
    font-size: 12.5px;
    color: #b9b9b9;
}
.news3{
    text-align: center;
    margin-top: 50px;
    top: 65px;
    width: 350px; 
    height: 350px; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000033;
}
.news3 h3{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    top: 135px;
    left: 30px;
}
.news3 p{
    text-align: center;
    margin-top: 50px;
    width: 300px;
    left: 30px;
    top: 140px;
    font-size: 13.5px;
}
.news3 h5{
    margin-top: 50px;
    text-align: center;
    width: 300px;
    left: 30px;
    top: 140px;
    font-size: 12.5px;
    color: #b9b9b9;
}
.acesse{
    background: #eb0033;
    padding: 0px 25px; 
    margin: 0 0 0 25px;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    max-width: 300px;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
}

.acesse h2:hover{
    background: #db5d6a;
}

.group5{
    height: 65%;
    background: #eb0033;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.infos ul{
    margin-top: auto;
}
.infos ul li {
    list-style: none;
}
.infos ul li a {
    text-decoration: none;
    font-size: 18px;
}

.sobre{
    margin-top: 50px;
}

.sobre a{
    color: #fff;
    line-height: 2.0rem;
}
.comunidade a{
    color: #fff;
    line-height: 2.0rem;
    position: relative;
    top: -14px;
}
.sustentabilidade a{
    color: #fff;
    line-height: 2.0rem;
    position: relative;
    top: -30px;
}
.ifnews a{
    color: #fff;
    line-height: 2.0rem;
    position: relative;
    top: 2px;
}
.apps a{
    color: #fff;
    line-height: 2.0rem;
    position: relative;
    top: 37px;
}
.footer{
    height: 10%;
    background: #890019;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer img{
    max-width: 60px;
    width: 100%;
    max-height: 35px;
    height: 100%;
}
.footer span{
    font-size: 0.825rem;
    color: #fff;
    left: 300px;
    top: 15px;
    margin-left: 360px;
}