* {
    box-sizing:border-box;
}
body {
    height: 100vh;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    width: 100%;
    height: 100%;
}
.primeiraParte {
    height: 80%;
    max-height: 520px;
    background: #f5f3f4;
}
.head {
    display: flex;
    position: fixed;
    background-color: #f7f7f7;
    background-position-x: center;
    justify-content: flex-end;
    margin-left: -200px;
    width: 100%;
    z-index: 2;
}

.head ul {
    display: flex;
    align-items: center;
}
.head ul li {
    list-style: none;
    margin: 0 40px;
    color: #3e3e3e;
}
.head ul li a {
    text-decoration: none;
    color: #3e3e3e;
}

#entrar {
    background: #ff0000;
    color: white;
    padding: 15px 45px; 
    margin: 0 0 0 25px;
    border-radius: 5px;
    font-weight: 500;
}

#conta{
    color: red;
}
.background {
    z-index: 0;
    display: flex;
    height: 100%;
    padding-bottom: 20px;
}
.left img {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
}
.left .svg {
    width: 160px;
    height: 180px;
    left: 50px;
    top: 257px;
}
.right img {
    position: absolute;
    width: 240px;
    top: 204px;
    right: 0;
}
.right .svg {
    width: 198px;
    height: 172px;
    right: 138px;
    top: 106px;
    transform: rotate(-8deg); 
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .logo {
    width: 120px;
}
.content h2 {
    font-size: 2.5rem;
    color: #3e3e3e;
    font-weight: 600;
    margin: 20px 0;
}
.content p {
    color: #3e3e3e;
    font-size: 0.900rem;
    font-weight: 500;
}
.form {
    width: 100%;
    max-width: 780px;
    display: flex;
    z-index: 1;
}
.form .search {
    width: 100%;
    max-width: 650px;
    background: #fff;
    height: 50px;
    border-radius: 4px;
    margin-right: 20px;
    display: flex;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}
.form .search img {
    width: 26px;
    margin: 0 20px;
}
.form .search input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1rem;
}
.form .search input::placeholder {
    font-weight: 400;
    color: #a6a6a6;
}
.form a {
    width: 210px;
    background: #ea1d2c;
    color: #fff;
    font-weight: 400;
    border: 0;
    border-radius: 4px;
    font: arial 12;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tags {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}
.tags span {
    font-size: 0.875rem;
    font-weight: 400;
    color: #818181;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    margin: 6px;
}

#categoria{
    text-decoration:none;
}

.banners{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding: 20px 0;
}
.banners img{
    width: 100%;
    max-width: 390px;
    margin: 0 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.banners img:hover{
    transform: scale(1.02);
}


.imagens {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;
}
.imagens img {
    width: 100%;
    max-width: 390px;
    margin: 0 10px;
    transition: 0.2s;
}
.imagens img:hover {
    transform: scale(1.02);
}

.semifinal{
    display: flex;
    justify-content: space-between;
}

.imagemPessoas{
    margin-right: 120px;
}

.foodlover{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    margin-left: 100px;

}

.foodlover h4{
    color: #777777;
}

.foodlover a{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 15px; 
    margin-right: 75px;
    border-radius: 5px;
    font-weight: 500;
}

.subBanners{
    margin-left: 170px;
    margin-right: 170px;
    display: flex;
    justify-content: space-around;
}

.subBanners img{
    transition: 0.2s;
}

.subBanners img:hover{
    transform: scale(1.02);
}

.final {
    margin: 20px;
    border-top: 1px solid #dcdcdc;
    display: flex;
    padding: 20px 0;
}
.final img {
    width: 50px;
    margin: 0 30px;
    margin-bottom: 20px;
}
.final span {
    font-size: 0.75rem;
    color: #818181;
    margin: 0 40px;
    margin-bottom: 20px;
}

.end {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    list-style: none;
    
}

.end ul{
    display: flex;
    align-items: flex-end;
}

.end li{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 40px;
    color: #cecece;
}

.end ul li a {
    text-decoration: none;
    color: #a0a0a0;
}
.end ul li a:hover {
    color: #777777;
}